form {
}

div {
  display: flex;
  flex-direction: row;
}

label {
  font-size: 1rem;
}

input[type="text"],
input[type="email"],
textarea {
  background-color: white;
  border: 0.5px solid var(--grey-75);
  width: 300px;
}

option {
  color: var(--text-secondary);
  font-size: 0.75rem;
}
