form {
}

form div {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

label {
  font-size: 1rem;
}

input[type="text"],
input[type="email"],
select {
  background-color: white;
  border: 0.25px solid var(--grey-75);
  width: 300px;
}

select {
}

option {
  color: var(--text-secondary);
  font-size: 0.75rem;
  background-color: white;
}

textarea {
  background-color: white;
  border: 0.5px solid var(--grey-75);
  width: 500px;
  height: 10rem;
}

button {
  background-color: var(--Lumen-green);
  color: var(--text-contrast);
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
}
