header {
  width: 100%;
  height: 100px;
  background-color: var(--bg-primary);
  border-bottom: 2px solid var(--border);
}

.logoWrapper {
}

.navbar {
}

.navList {
  gap: 1rem;
}

.listElement {
  font-weight: 500;
  color: var(--text-primary);
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 1.2;
  letter-spacing: 0.06rem;
  padding: 0.5rem;

  /* border: 1px solid var(--border);
  border-radius: 15px;
  box-shadow: 0 0 2px var(--bg-contrast); */
}

/* .languageSelect {
} */
