header {
  width: 100%;
  height: 100px;
  background-color: var(--bg-secondary);
  border-bottom: 2px solid var(--border);
}

.logoWrapper {
  background-color: lemonchiffon;
}

.upperRow {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.themeToggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.themeToggleInput {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Light mode? */
.themeToggleSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 34px;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.themeToggleSlider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* Dark mode? */
.themeToggleInput:checked + .themeToggleSlider {
  background-color: #2196f3;
}

.themeToggleInput:focus + .themeToggleSlider {
  box-shadow: 0 0 1px #2196f3;
}

.themeToggleInput:checked + .themeToggleSlider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* .languageSelect {
} */

.lowerRow {
}

.navbar {
}

.navList {
  gap: 2rem;
}

.listElement {
  font-weight: 500;
  padding: 0.5rem;
  background-color: var(--bg-contrast);
  text-transform: uppercase;
  font-size: 1.5rem;
}
