header {
  width: 100%;
  height: 200px;
  background-color: magenta;
}

.upperRow {
}

.themeToggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.themeToggleInput {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Light mode? */
.themeToggleSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 34px;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.themeToggleSlider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* Dark mode? */
.themeToggleInput:checked + .themeToggleSlider {
  background-color: #2196f3;
}

.themeToggleInput:focus + .themeToggleSlider {
  box-shadow: 0 0 1px #2196f3;
}

.themeToggleInput:checked + .themeToggleSlider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* .languageSelect {
} */

.lowerRow {
}

.navbar {
}

.navList {
}

.listElement {
}
