header {
  width: 100%;
  height: 100px;
  background-color: var(--bg-primary);
  border-bottom: 2px solid var(--border);
}

.logoWrapper {
}

.navbar {
}

.navList {
  gap: 1rem;
}

.listElement {
  font-weight: 500;
  color: var(--text-primary);
  text-transform: uppercase;
  font-size: 1.15rem;
  /* border: 1.5px solid var(--bg-contrast); */
  border-radius: 15px;
  line-height: 1.2;
  letter-spacing: 0.06rem;
  padding: 0.5rem;

  text-shadow: 0 0 1px var(--bg-contrast);
}

.themeToggle {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
  border: 0.5px solid var(--grey-50);
  border-radius: 34px;
}

.themeToggleInput {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Light mode? */
.themeToggleSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 34px;
  background-color: var(--grey-66);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.themeToggleSlider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 0.5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: var(--white-paper);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23545454'%3E%3Cpath d='M12 17.5C14.7614 17.5 17 15.2614 17 12.5C17 9.73858 14.7614 7.5 12 7.5C9.23858 7.5 7 9.73858 7 12.5C7 15.2614 9.23858 17.5 12 17.5Z'/%3E%3Cpath d='M12 1.5V4.5M12 20.5V23.5M4.22 4.72L6.34 6.84M17.66 18.16L19.78 20.28M1 12.5H4M20 12.5H23M4.22 20.28L6.34 18.16M17.66 6.84L19.78 4.72' stroke='%23545454' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
  background-size: 14px 14px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* Dark mode? */
.themeToggleInput:checked + .themeToggleSlider {
  background-color: var(--white-paper);
  /* background-color: pink; */
}

.themeToggleInput:focus + .themeToggleSlider {
  box-shadow: 0 0 1px var(--grey-33);
}

.themeToggleInput:checked + .themeToggleSlider:before {
  -webkit-transform: translateX(20px) translateY(-50%);
  -ms-transform: translateX(20px) translateY(-50%);
  transform: translateX(20px) translateY(-50%);
  background-color: var(--grey-75);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23fafaf8'%3E%3Cpath d='M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z'/%3E%3C/svg%3E");
}

/* .languageSelect {
} */
