.aboutHeading {
  font-size: 3rem;
}

.aboutArticle {
  color: var(--text-primary);
}

.aboutArticle h2 {
  font-size: 1.25rem;
}

.aboutArticle p {
  font-size: 1rem;
}

.aboutContactForm {
  background-color: var(--bg-secondary);
  border: 2px solid var(--border);
}
