.visitHeading {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}

.visitGrid {
  padding: 1rem;

  display: grid;
  grid-template-columns: 1fr 1.2fr;
  column-gap: 1.5rem;
  row-gap: 3rem;

  grid-template-areas:
    "info entranceImg"
    "map address"
    "notes insideImg";
}

.visitGrid h2 {
  font-size: 1.25rem;
}

.visitGrid img {
  border-radius: 5px;
  box-shadow: 0 0 4px var(--bg-contrast);
  /* box-shadow: 2px 2px 2px var(--bg-contrast); */
}

.visitInfo {
  grid-area: info;
}

.visitInfoElement {
}

.visitInfoElement p {
  margin-left: 0.5rem;
}

.visitEntranceImg {
  grid-area: entranceImg;
}

.visitMap {
  cursor: pointer;

  grid-area: map;
}

.visitMapImg {
  aspect-ratio: 1 / 1;
}

.visitAddress {
  font-style: normal;

  grid-area: address;
}

.visitNotes {
  grid-area: notes;

  color: var(--text-secondary);
}

.visitNotes p {
  margin-left: 0.5rem;
  margin-bottom: 0.75rem;
}

.visitInsideImg {
  grid-area: insideImg;
}
