.visitHeading {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}

.visitGrid {
  padding: 1rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;

  grid-template-areas:
    "info entranceImg"
    "map address"
    "insideImg notes";
}

.visitInfo {
  grid-area: info;
}

.visitInfoElement {
}

.visitInfoElement h2 {
  font-size: 1.25rem;
}

.visitEntranceImg {
  grid-area: entranceImg;
}

.visitMap {
  cursor: pointer;
  aspect-ratio: 1 / 1;

  grid-area: map;
}

.visitAddress {
  font-style: normal;

  grid-area: address;
}

.visitInsideImg {
  grid-area: insideImg;
}

.visitNotes {
  background-color: pink;

  grid-area: notes;
}

.visitNotes p {
  margin-bottom: 0.5rem;
}
