@import "tailwindcss";

/**
Green Suggestions
70e000   9ef01a / 38b000
538d22  73a942

Earthy Green:
e9f5db
cfe1b9
b5c99a
97a97c
87986a
718355
**/

:root {
  --white: #fff;
  --white-paper: #fafaf8;
  --white-ivory: #f6f3ea;
  --white-warm: #f2f2ee;
  --white-cool: #f4f6f8;
  --off-white: #f4f4f0;

  --black: #000;
  --charcoal-neutral: #333;
  --charcoal-dark: #2a2a2a;
  --charcoal-deep: #1f1f1f;
  --charcoal-warm: #2e2c2a;
  --charcoal-cool: #2b2f33;

  --grey-16: #d6d6d6;
  --grey-25: #bfbfbf;
  --grey-33: #a8a8a8;
  --grey-50: #808080;
  --grey-66: #545454;
  --grey-75: #404040;

  --green-60: #309d87;
  --green-70: #23b796;

  --font-sans: "Jost", "Segue UI", "Helvetica Neue", Arial, sans-serif;

  /* Light mode */
  --Lumen-green: var(--green-60);

  --bg-primary: var(--white-paper);
  --bg-secondary: var(--grey-16);
  --bg-contrast: var(--grey-75);

  --text-primary: var(--charcoal-deep);
  --text-secondary: var(--charcoal-neutral);
  --text-muted: var(--grey-50);
  --text-contrast: var(--white-cool);

  --border: var(--grey-25);

  /* Dark mode */
  /* --Lumen-green: var(--green-70);

  --bg-primary: var(--charcoal-dark);
  --bg-secondary: var(--charcoal-cool);
  --bg-contrast: var(--white-cool);

  --text-primary: var(--off-white);
  --text-secondary: var(--grey-25);
  --text-muted: var(--grey-50);
  --text-contrast: var(--grey-75);

  --border: var(--grey-66); */
}

html {
  scroll-behavior: smooth;
  background-color: var(--bg-primary);
  font-family: var(--font-sans);
}

main {
  background-color: var(--bg-primary);
  font-family: var(--font-sans);
  color: var(--text-primary);
  padding: 1rem;
}

Link {
}

/* Link:focus {
  box-shadow: 0 0 5 var(--Lumen-green);
} */

.logoLink {
}

.brandLogo {
}

.brandLogo LumenIcon {
}

.brandLogo LumenName {
}

/* 
Neccessary? 

.LumenIcon {
}

.LumenName {
}
*/
